main {
    height:max-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 10%;
}

#picture__input {
    display: none;
}

.picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px solid gray;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
}

.perfil{
    display: flex;
    max-height: 30%;
    justify-content: space-evenly;
    padding: 3%;
    margin: 1%;
    border-radius: 20px;
}

.mid{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.friends{
    font-weight: 700;
}
.friends-number{
    border: 2px groove white;
    text-align: center;
    padding:3px ;
}

.button-test{
    width: 130px;
    height: 40px;
    border: 2px solid ;
    border-radius: 10px;
}

.button-test:hover{
    background-color:#00002e;
    color: white;
    border: 2px solid rgb(0, 0, 0);
}

.personalization{
    background-color: #10102f;
    display: flex;
    justify-content: space-around;
    border: 5px groove rgb(170, 71, 170);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px;
}
.title{
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content:flex-start ;
}

.form-standard{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    max-width: 200px;
    background-color: white;
    color: black;
}

#profile-bibliography{
    height: 50px;
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.private-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    margin-bottom: 0px;
}

.save-button-private{
    margin-top: 15px;
}

form{
    border: 1px;
}
